---
import NextJS from '../icons/NextJS.astro'
import TailwindCSS from '../icons/TailwindCSS.astro'

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: NextJS,
  },
  TAILWIND: {
    name: 'TailwindCSS',
    class: 'bg-[#003159] text-white',
    icon: TailwindCSS,
  },
}

const PROJECTS = [
  {
    title: 'Svgl - A beatiful library with svg logos',
    description:
      'Created from scrarth with Next.js, TailwindCSS and React. This project is a library with svg logos, you can search and download the logo that you want.',
    link: 'https://svgl.vercel.app/',
    github: '#',
    image: '/projects/svgl.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
]
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200/90 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-4 flex-row">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10 mt-5"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
